<!-- default/_assignedTask -->
<template id="assigned-task">
    <div class="page">

        <breadcrumbs>
            <template #path>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a @click.prevent="toMain" href="#" data-t="">Main</a></li>
                    <li class="breadcrumb-item"><a @click.prevent="toAssignedTasks" href="#" data-t="meta">Tasks</a></li>
                    <li class="breadcrumb-item">#{{task}}</li>
                </ol>
            </template>
        </breadcrumbs>

        <div class="loadable-container">

            <div  v-show="!loading" class="loadable-content">
                <h1>{{summary}}</h1>
                <div class=" form">
                    <div class="form-group row">
                        <label class="col-3 col-form-label" data-t="meta">State</label>
                        <div class="col-9">
                            <div class="form-control-plaintext"><b>{{stateTitle}}</b></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label" data-t="meta">Description</label>
                        <div class="col-9">
                            <div class="form-control-plaintext">{{description}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label" data-t="meta">Project</label>
                        <div class="col-9">
                            <div class="form-control-plaintext">
                                <span data-t="meta">{{project}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label" data-t="meta">Priority</label>
                        <div class="col-9">
                            <div class="form-control-plaintext">
                                <b data-t="meta">{{priority}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label" data-t="meta">Assignee</label>
                        <div class="col-9">
                            <div class="form-control-plaintext" v-html="assignee"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label" data-t="meta">Hours spent</label>
                        <div class="col-9">
                            <div class="form-control-plaintext" v-html="timeSpent"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label" data-t="meta">Created at</label>
                        <div class="col-9">
                            <div class="form-control-plaintext">{{createdAt}}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-3 col-9">
                            <button v-show="isNew || isDone" @click="onStart" class="btn-success btn" type="button">
                                <span data-t="meta">Start working</span>
                            </button>
                            <button v-show="isInProgress" @click="onComplete" class="btn-primary btn" type="button">
                                <span data-t="meta">Complete</span>
                            </button>
                            <button v-show="isInProgress" @click="onStop" class="btn-outline-danger btn" type="button">
                                <span data-t="meta">Stop working</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div v-show="loading" class="loader">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</template>