<!-- default/_breadcrumbs -->
<template id="breadcrumbs">
    <div class="page-head">
        <slot name="path">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Главная</li>
            </ol>
        </slot>
    </div>
</template>