
<div class="page" data-page="createdTask" data-handler="CreatedTaskPage">

    <div class="task loadable-container" data-handler="CreatedTask">

        <template data-id="task">
            <div class="page-head">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" data-action="main" data-t="">Main</a></li>
                    <li class="breadcrumb-item"><a href="#" data-action="createdTasks" data-t="meta">Tasks</a></li>
                    <li class="breadcrumb-item" data-t="">#{{_id}}</li>
                </ol>
            </div>

            <h1>{{summary}}</h1>

            <div class=" form">
                <div class="form-group row">
                    <label class="col-3 col-form-label" data-t="meta">State</label>
                    <div class="col-9">
                        <div class="form-control-plaintext"><b data-t="meta">{{state}}</b></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" data-t="meta">Description</label>
                    <div class="col-9">
                        <div class="form-control-plaintext">{{description}}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" data-t="meta">Project</label>
                    <div class="col-9">
                        <div class="form-control-plaintext"><span data-t="meta">{{project}}</span></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" data-t="meta">Priority</label>
                    <div class="col-9">
                        <div class="form-control-plaintext"><b data-t="meta">{{priority}}</b></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" data-t="meta">Assignee</label>
                    <div class="col-9">
                        <div class="form-control-plaintext">{{assignee}}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" data-t="meta">Hours spent</label>
                    <div class="col-9">
                        <div class="form-control-plaintext">{{timeSpent}}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" data-t="meta">Created at</label>
                    <div class="col-9">
                        <div class="form-control-plaintext">{{createdAt}}</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-3 col-9">
                        {{close}}
                        {{reopen}}
                    </div>
                </div>
            </div>
        </template>

        <template data-id="close">
            <button class="btn-success btn" type="button" data-command="close">
                <span data-t="">Close</span>
            </button>
            <button class="btn-warning btn" type="button" data-command="reject">
                <span data-t="meta">Reject</span>
            </button>
        </template>

        <template data-id="reopen">
            <button class="btn-primary btn" type="button" data-command="reopen">
                <span data-t="meta">Reopen</span>
            </button>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>