<template id="pagination">
    <nav v-show="visible">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" @click.prevent="onFirst"><span>«</span></a></li>
            <li class="page-item"><a class="page-link" href="#" @click.prevent="onPrev"><span>‹</span></a></li>
            <template v-for="page in pages">
                <li :class="{'active': page.active, 'page-item': true}">
                    <a :data-page="page.page" class="page-link" href="#" @click.prevent="onPage">{{page.text}}</a>
                </li>
            </template>
            <li class="page-item"><a class="page-link" href="#" @click.prevent="onNext"><span>›</span></a></li>
            <li class="page-item"><a class="page-link" href="#" @click.prevent="onLast"><span>»</span></a></li>
        </ul>
    </nav>
</template>